* {
    margin: 0;
    padding: 0;
}

:root {
    --theme-color: #92bfff;
}

/** ************ General ************ * */

.hd-gr {
    color: gray;
}

.slider-image {
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-width {
    max-width: 1000px;
    min-width: 700px;
    width: 73.21vw;
}

.divider {
    width: 100%;
}

.sec-row {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.sec-row-2 {
    box-sizing: border-box;
    margin: 10px auto;
    padding: 2px;
    text-align: center;
    width: 70%;
}

.sec-row-2 p {
    line-height: 1.5rem;
    margin: 10px auto;
}

a {
    color: inherit;
}


/** ************ Page Components ************ * */

html,
body {
    background-color: whitesmoke;
    color: darkgray;
    font-family: sans-serif;
    font-size: 16px;
}

header {
    background-color: var(--theme-color);
    height: 350px;
    width: 100%;
}

footer {
    height: 50px;
}

.card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, .3),
        -2px -2px 4px rgba(128, 128, 128, .3);
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

.card-section {
    height: 100%;
    width: 50%;
}

.card-title {
    color: var(--theme-color);
    font-weight: 300;
    margin: 60px auto;
    text-align: center;
}

.banner {
    box-shadow: 2px 2px 4px rgba(128, 128, 128, .5),
        -2px -2px 4px rgba(128, 128, 128, .5);
    height: 36.61vw;
    max-height: 500px;
    min-height: 350px;
    margin-top: -250px;
}

.banner-sec-1 {
    overflow: hidden;
}

.banner-sec-2-head {
    height: 20%;
}

.banner-sec-2-head h1 {
    color: var(--theme-color);
    font-weight: 300;
}

.banner-sec-2-head span {
    font-size: 0.875em;
    margin-left: 6px;
}

.banner-sec-2-body {
    height: 65%;
}

.banner-sec-2-body .divider span {
    width: 50%;
}

.banner-sec-2-body .divider p {
    margin: 2px 0 20px 5px;
    width: 100%;
}

.banner-sec-2-foot {
    align-items: center;
    background-color: var(--theme-color);
    color: whitesmoke;
    display: flex;
    font-size: 1.5rem;
    height: 15%;
    justify-content: space-evenly;
}

.skill-row {
    width: 30%
}

.skill-row p {
    margin: 5px;
}


.skill-bar {
    background-color: lightgray;
    border-radius: 2.5px;
    height: 5px;
    width: 100%;
}

.skill-rating {
    border-radius: 2.5px;
    height: 5px;
}

.skill-9 {
    background-color: #00de81;
    width: 90%;
}

.skill-8 {
    background-color: #00f78f;
    width: 80%;
}

.skill-7 {
    background-color: var(--theme-color);
    width: 70%;
}

.skill-6 {
    background-color: #eeff2b;
    width: 60%;
}

.skill-5 {
    background-color: darkgray;
    width: 50%;
}


/** ************* Media Query ************** * */

@media only screen and (max-width: 500px) {
    body {
        background-color: white;
    }

    header {
        height: 0;
    }

    .cont-width {
        max-width: 800px;
        min-width: 300px;
        width: 100vw;
    }

    .divider {
        flex-direction: column;
        margin: auto;
    }

    .card {
        border-bottom: 1px solid #e3dede;
        border-radius: 0;
        box-shadow: none;
        height: auto;
    }

    .card-title {
        margin: 40px auto;
    }

    .card-section {
        width: 100%;
    }

    .banner {
        box-shadow: none;
        flex-direction: column;
        height: auto;
        margin-top: 0;
        max-height: none;
        min-height: none;
    }

    .banner-sec-1 {
        height: 100vw;
        max-height: 800px;
        min-height: 300px;
        width: 100%;
    }

    .banner-sec-2 {
        text-align: center;
    }

    .banner-sec-2-body .divider span {
        width: auto;
    }

    .banner-sec-2-body .divider p {
        margin: 2px 0 20px 5px;
        width: auto;
    }

    .banner-sec-2-head {
        background-color: var(--theme-color);
        color: lightgray;
        text-align: center;
    }

    .banner-sec-2-head h1 {
        color: white;
    }

    .banner-sec-2-body {
        text-align: center;
    }

    .banner-sec-2-foot {
        background-color: white;
        color: #c5ddff;
    }

    .skill-row {
        width: 50%;
    }
}


/** ************************* Animation ***************** * */
.animate-slider {
    animation-name: carousel;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes carousel {
    0% {
        transform: translateY(0%);
    }

    18.4% {
        transform: translateY(0%);
    }

    20.4% {
        transform: translateY(-20%);
    }

    38.8% {
        transform: translateY(-20%);
    }

    40.8% {
        transform: translateY(-40%);
    }

    59.2% {
        transform: translateY(-40%);
    }

    61.2% {
        transform: translateY(-60%);
    }

    79.6% {
        transform: translateY(-60%);
    }

    81.6% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(-80%);
    }

}